# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Environment
.env

# Dependencies
vendor/
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Laravel
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Tests
.phpunit.result.cache
